.Weather {
    background-image: linear-gradient(
      0deg,
      #c5e2ea 23%,
      #8fbfcb 55%,
      #638b95 88%
    );
    box-shadow: rgba(177, 161, 173, 0.493) 0px 8px 8px 0;
    margin: 30px 30px;
    max-width: 70%;
    padding: 30px;
    height: 500px;
    border: 1px solid #5d779b;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
  }
  
  p {
    padding: 2em;
    font-size: 15pt;
  }
 
  h1{
    margin-top: 1em;
    font-size: 42pt;
  }
  h2 {
   
    font-size: 36pt;
  }
  h3 {
    font-size: 22pt;
  }
  
  .formSearch {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .search-field {
    
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: small;
  }
  .search-button {
    border: none;
    border-radius: 50px;
    outline: none;
    margin-left: 1em;
    font-size: small;
  }
  h5 { 
    margin: 30px 30px;
    color:  #638b95;
  }
  .color-link { 
    color: #fdd020;   
    text-decoration: none;
  }
  .color-link:hover {
    color:#e2ebee; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
  }
  .icon {
    margin: 10px 0;
    height: "100";
    width: "100";
  }
  .temperature{
    font-size: 36pt;
  }
  .unit{
    font-size: 36pt;
  }
  .temperature-container {    
    align-items: center;
  }

.logo{
  max-width:100%;
  margin-top:4em;
  
  
}

  
 
  