.Weather {
    background-image: linear-gradient(
      0deg,
      #c5e2ea 23%,
      #8fbfcb 55%,
      #638b95 88%
    );
    box-shadow: rgba(177, 161, 173, 0.493) 0px 8px 8px 0;
    margin: 30px 30px;
    padding: 30px;
    height: 500px;
    border: 1px solid #5d779b;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
  }
  
  p {
    padding: 2em;
    font-size: 15pt;
  }
  h1 {
    font-weight: 600;
    font-size: 50pt;
    padding-bottom: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  h2 {
    text-align: center;
    margin-top: 1em;
  }
  
  .formSearch {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .search-field {
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 15pt;
  }
  .search-button {
    border: none;
    border-radius: 50px;
    outline: none;
    margin-left: 1em;
    font-size: 15pt;
  }
  h5 {
   
    bottom: 3em;
    left: 1em;
    text-align: left;
    color:  #638b95;
  }
  .color-link { 
    color: #fdd020;   
    text-decoration: none;
  }
  .color-link:hover {
    color:#e2ebee; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
  }
  .icon {
    margin-right: 5px;
    height: "42";
    width: "42";
  }
 
  